@media screen and (max-width: 575px) {
  .contacts {
    form {
      .buttons {
        button {
          width: 100%;
          max-width: 600px;
        }
      }
    }
  }
  .footer {
    &__top {
      padding: $gap-lg 0 calc($gap * 2);
    }
    &__title-one {
      text-align: center;
    }
    &__title {
      display: none;
    }
    .dropdown-toggle {
      margin: 0 auto;
      background-color: #282828;
      border: none;
      width: 100%;
      max-width: 250px;
      &:active {
        background-color: #282828;
      }
      .footer__titles {
        font-size: 1.25rem;
        color: $secondary-color;
        > span {
          color: $primary-color;
        }
      }
    }
    .dropdown-menu {
      background-color: #282828;
    }
    .dropdown-item {
      &.li {
        margin-left: 50px;
        &::before {
          transition: 0.5s;
          position: absolute;
          margin-left: -25px;
          content: "\f30b";
          color: $secondary-color;
          font-size: 0.85rem;
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
        }
        a {
          transition: 0.5s;
          font-size: 0.85rem;
          color: $secondary-color;
          text-decoration: none;
        }
        &:hover {
          background-color: #28282800;
          &::before {
            transition: 0.5s;
            margin-left: -20px;
            color: $primary-color;
          }
          a {
            transition: 0.5s;
            color: $primary-color;
          }
        }
      }
    }
    .dropdown {
      button {
        display: block;
      }
    }
    &__descript {
      font-size: 0.85rem;
    }
  }
  .advantages {
    &__descript {
      text-align: justify;
    }
  }
  .features {
    .container {
      .feature {
        &-img {
          .fas,
          .fab {
            margin: 10px auto calc($gap * 2);
          }
        }
        &-title {
          text-align: center;
          margin: 0 0 8px;
        }
        &-descript {
          text-align: center;
        }
      }
    }
  }
  .about {
    .container {
      .row {
        .col-lg-6 {
          p {
            text-align: justify;
          }
        }
      }
    }
  }
}
