@media screen and (max-width: 991px) {
  .blog,
  .about,
  .gallery,
  .features {
    .container {
      padding-top: 90px;
      padding-bottom: 60px;
      max-width: 720px;
    }
  }
  header {
    .navbar-expand-lg {
      .nav-item {
        .nav-link {
          padding-top: calc($pading / 3);
          padding-bottom: calc($pading / 3);
        }
        &.active {
          .nav-link {
            &::before {
              bottom: 4px;
            }
          }
        }
        &:not(.active) {
          .nav-link {
            &:hover {
              &::before {
                bottom: 4px;
              }
            }
          }
        }
      }
    }
  }
  .advantages {
    .container-fluid {
      padding-top: 105px;
      padding-bottom: 75px;
      max-width: 720px;
    }
    &__img {
      display: none;
    }
  }
}
