.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .container {
    .row {
      .col {
        h2 {
          margin-bottom: $gap-lg;
          text-align: center;
        }
      }
    }
    .progress-box {
      max-width: 500px;
      margin-left: auto;
      .progress-title {
        font-weight: 400;
        line-height: 1.2;
        font-size: 1.125rem;
        margin-bottom: 8px;
      }
      .progress {
        max-width: 455px;
        height: 20px;
        margin-bottom: calc($gap * 2);
        .progress-bar {
          background-color: $primary-color;
        }
      }
    }
  }
}
