.blog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  .container {
    padding-right: calc($gap * 2);
    padding-left: calc($gap * 2);
    .blog-title {
      @include text-center;
      margin-bottom: $gap-lg;
    }
    .blog-descript {
      @include text-center;
      margin-bottom: $gap-lg;
    }
    .blog-item {
      &__link {
        text-decoration: none;
      }
      &__img {
        overflow: hidden;
        padding: 0;
        img {
          width: 100%;
          transition: filter 0.5s, transform 0.5s;
          filter: saturate(0.65);
        }
      }
      &__descript {
        z-index: 0;
        padding: $gap;
        position: relative;
        background-color: $white-color;
        &::before {
          z-index: -1;
          @include abs-position;
          content: "";
          transition: background-color 0.25s;
        }
      }
      &__title {
        font-size: 1.125rem;
      }
      &__date {
        margin: $gap 0;
        color: #545454;
        font-size: 0.875rem;
      }
      &__text {
        margin-top: $gap;
        color: #545454;
        font-size: 0.875rem;
      }
      &__link {
        text-decoration: none;
        &:hover {
          .blog-item__img {
            img {
              transform: scale(1.2);
              filter: saturate(1.5);
            }
          }
          .blog-item__descript {
            &::before {
              background-color: $primary-color;
            }
          }
          .blog-item__title,
          .blog-item__date,
          .blog-item__text {
            color: $white-color;
          }
        }
      }
    }
  }
}
