.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  &__title,
  &__descript {
    text-align: center;
    margin-bottom: 45px;
  }
  form {
    label {
      display: none;
    }
    margin: 0 auto;
    max-width: 720px;
    .form-control {
      transition: 0.5s;
      padding: 15px;
      margin: 7.5px auto;
      border: 2px solid #2d2c2c4f;
      &:hover {
        transition: 0.5s;
        border: 2px solid #ee3b24;
        &::placeholder {
          transition: 0.5s;
          color: #ee3b24;
        }
      }
    }
    .buttons {
      text-align: center;
      button {
        transition: 0.5s;
        width: 100%;
        max-width: 300px;
        min-height: 50px;
        padding: 8px 16px;
        margin: 5px auto;
        background-color: transparent;
        color: #ee3b24;
        border: 1px solid #ee3b24;
        &:hover {
          transition: 0.5s;
          color: white;
          background-color: #ee3b24;
        }
      }
    }
  }
}
