.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e5e5;
  .container {
    .features-title {
      @include text-center;
      margin-bottom: $gap-lg;
    }
    .features-descript {
      @include text-center;
      margin-bottom: $gap-lg;
    }

    .feature {
      &-img {
        .fas,
        .fab {
          transition: 0.5s;
          display: flex;
          width: 80px;
          height: 90px;
          margin: calc($gap * 2) auto calc($gap * 4);
          color: $white-color;
          background: $primary-color;
          font-size: 2rem;
          align-items: center;
          justify-content: center;
          clip-path: polygon(
            50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%
          );
        }
      }
      &:hover {
        .fas,
        .fab {
          transition: 0.5s;
          margin-top: calc($gap * 4);
          margin-bottom: calc($gap * 2);
        }
      }
      &-title {
        @include text-center;
        margin: 0 0 8px;
      }
      &-descript {
        @include text-center;
      }
    }
  }
}
