.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  .container {
    .gallery-title {
      text-align: center;
      margin-bottom: $gap-lg;
    }
    .gallery-descript {
      text-align: center;
      margin-bottom: $gap-lg;
    }
  }
  .container-fluid {
    margin-left: $gap;
    margin-right: $gap;
    .gallery-item {
      padding: 0 5px 10px;
      &__box {
        display: inline-block;
        position: relative;
        overflow: hidden;
        min-height: 200px;
        max-height: 33.33vh;
      }
      &__img {
        width: 100%;
        transition: transform 1s;
      }

      &__caption {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity 0.5s;
        text-align: center;
        opacity: 0;
        background-color: #010101bf;
      }
      &__title {
        position: absolute;
        right: calc($gap * 2);
        bottom: -50%;
        left: calc($gap * 2);
        margin-bottom: 0;
        transition: bottom 0.5s;
        color: $gray-color;
        font-weight: bold;
      }
      &__link {
        text-decoration: none;
        position: relative;
        top: -50%;
        display: inline-flex;
        width: $gap-lg;
        height: $gap-lg;
        transition: top 0.5s;
        color: $gray-color;
        background-color: $primary-color;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        .gallery-item__img {
          transform: scale(1.8);
        }
        .gallery-item__caption {
          opacity: 1;
        }

        .gallery-item__title {
          bottom: 15%;
        }

        .gallery-item__link {
          top: 15%;
        }
      }
    }
  }
}
