body {
  font-size: $font-size;
  font-family: $font-primary;
  section {
    min-height: 100vh;
  }
  .container {
    max-width: 1140px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #010101;
    font-family: $font-secondary;
  }
}
