header {
	.navbar {
		z-index: 1;
		padding-top: $pading;
		padding-bottom: $pading;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: transparent;

		.container {
			max-width: 1140px;
			.navbar-brand {
				color: #ffffff;
				padding-top: calc($pading / 3);
				padding-bottom: calc($pading / 3);
			}
			.navbar-collapse {
				justify-content: flex-end;
			}
		}
		.nav-item {
			padding-left: calc($pading / 2);
			padding-right: calc($pading / 2);
			.nav-link {
				position: relative;
				color: #ffffff;
				padding-left: calc($pading / 2);
				padding-right: calc($pading / 2);
				font-size: $font-size;
				font-weight: 400;
				line-height: 1.5;
				padding-top: $pading;
				padding-bottom: $pading;
				&:not(.active) {
					&:hover {
						&::before {
							color: #fefefe;
							height: 3px;
							opacity: 1;
							bottom: 10px;
							transition: 0.5s;
						}
					}
					&::before {
						content: "";
						position: absolute;
						bottom: 0;
						height: 5px;
						left: 0;
						width: 100%;
						opacity: 0;
						background-color: #fefefe;
						transition: 0.5s;
					}
				}
				&.active {
					color: #ee3b24;
					text-shadow: 0 0 1px #ee3b24;
					&::before {
						content: "";
						position: absolute;
						bottom: 10px;
						height: 5px;
						left: 0;
						width: 100%;
						background-color: #ee3b24;
						transition: 0.5s;
					}
				}
			}
		}
		&.header-navbar--scrolled {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			padding: 0;
			background-color: #010101d9;
		}
	}
}
