///fonts///
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto_Slab", serif;
$font-size: 16px;

///colors///
$primary-color: #ee3b24;
$secondary-color: #b2b2b2;
$white-color: #ffffff;
$dark-color: #010101;
$gray-color: #fefefe;

///size///
$gap: 15px;
$gap-lg: 45px;

///mixins///
@mixin abs-position($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin unlist($m: 0, $p: 0) {
  margin: $m;
  padding: $p;
  list-style: none;
}
@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin text-center {
  text-align: center;
}
