<section class="advantages" id="advantages">
  <div class="container-fluid">
    <div class="row">
      <div class="advantages__img col-lg-6" data-aos="fade" data-aos-delay="200" data-aos-duration="1000"></div>
      <div class="advantages__content col-lg-6">
        <div class="row">
          <div class="col">
            <h2 class="advantages__title" data-aos="fade-up">Why Choose Us</h2>
            <p class="advantages__descript" data-aos="fade-up" data-aos-delay="200">Aenean sollicitudin, lorem
              quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel
              velit auctor Aenean sollicitudin, adipisicing elit sed lorem quis bibendum auctor. </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="advantages-item" data-aos="fade-up-left" data-aos-delay="300">
              <div class="advantages-item__icon">
                <i class="fab fa-css3"></i>
              </div>
              <div class="advantages-item__caption ">
                <h4 class="advantages-item__title">Responsive Design</h4>
                <p class="advantages-item__descript">Collaboratively administrate empowered markets via
                  plug-and-play networks. Dynamically procrastinate...</p>
              </div>
            </div>
            <div class="advantages-item" data-aos="fade-up-left" data-aos-delay="400">
              <div class="advantages-item__icon">
                <i class="fas fa-code"></i>
              </div>
              <div class="advantages-item__caption ">
                <h4 class="advantages-item__title">No Code Required</h4>
                <p class="advantages-item__descript">Sed eu dapibus nunc. Integer placerat laoreet ligula, a
                  lobortis metus varius sed. Donec at blandit...</p>
              </div>
            </div>
            <div class="advantages-item" data-aos="fade-up-left" data-aos-delay="500">
              <div class="advantages-item__icon">
                <i class="fas fa-info"></i>
              </div>
              <div class="advantages-item__caption ">
                <h4 class="advantages-item__title">Clear Style</h4>
                <p class="advantages-item__descript">Nullam quis risus eget urna mollis ornare vel eu leo. Cum
                  sociis natoque penatibus et magnis dis...</p>
              </div>
            </div>
            <div class="advantages-item" data-aos="fade-up-left" data-aos-delay="600">
              <div class="advantages-item__icon">
                <i class="fas fa-globe"></i>
              </div>
              <div class="advantages-item__caption ">
                <h4 class="advantages-item__title">24/7 dedicated support</h4>
                <p class="advantages-item__descript">Nunc interdum commodo arcu non fermentum. Vestibulum tincidunt
                  diam metus, ut maximus sem luctus ege...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
