<section class="blog" id="blog">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="blog-title" data-aos="fade-up">Latest from our Blog</h2>
        <p class="blog-descript" data-aos="fade-up" data-aos-delay="200">Check out the latest post from our blog, sed ac
          nulla est. Integer vitae ipsum
        </p>
      </div>
    </div>

    <div class="row">
      <div class="blog-item col-lg-6">
        <a class="blog-item__link" href="#">
          <div class="row">
            <div class="blog-item__img col-md-6" data-aos="fade-right" data-aos-delay="500">
              <img src="assets/img/pexels.jpg" alt="pexels">
            </div>
            <div class="blog-item__descript col-md-6" data-aos="fade-up-right" data-aos-delay="300">
              <h5 class="blog-item__title">Oxygen</h5>
              <p class="blog-item__date"><i class="fas fa-calendar-alt"></i>
                October 1, 2019</p>
              <p class="blog-item__text">Praesent libero nisi, malesuada quis faucibus ac, ultricies ut
                risus. Ut a est sodales, rutrum odio at, accumsan augue...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="blog-item col-lg-6">
        <a class="blog-item__link" href="#">
          <div class="row">
            <div class="blog-item__img col-md-6" data-aos="fade-up-left" data-aos-delay="900">
              <img src="assets/img/sunrise.jpg" alt="sunrise">
            </div>
            <div class="blog-item__descript col-md-6 order-md-first order-lg-last" data-aos="fade-left"
              data-aos-delay="1100">
              <h5 class="blog-item__title">Fashion</h5>
              <p class="blog-item__date"><i class="fas fa-calendar-alt"></i>
                October 5, 2019</p>
              <p class="blog-item__text">Phasellus accumsan nibh odio, a tincidunt nunc condimentum non. Maecenas
                fringilla consectetur luctus. Nulla ut iaculis quam...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="blog-item col-lg-6">
        <a class="blog-item__link" href="#">
          <div class="row">
            <div class="blog-item__img col-md-6" data-aos="fade-up-right" data-aos-delay="500">
              <img src="assets/img/child.jpg" alt="child">
            </div>
            <div class="blog-item__descript col-md-6  order-lg-first" data-aos="fade-right" data-aos-delay="700">
              <h5 class="blog-item__title">Victoria</h5>
              <p class="blog-item__date"><i class="fas fa-calendar-alt"></i>
                October 15, 2019</p>
              <p class="blog-item__text">Phasellus accumsan nibh odio, a tincidunt nunc condimentum non. Maecenas
                fringilla consectetur luctus. Nulla ut iaculis quam...</p>
            </div>
          </div>
        </a>
      </div>
      <div class="blog-item col-lg-6">
        <a class="blog-item__link" href="#">
          <div class="row">
            <div class="blog-item__img col-md-6" data-aos="fade-left" data-aos-delay="1300">
              <img src="assets/img/skyline.jpg" alt="skyline">
            </div>
            <div class="blog-item__descript col-md-6 order-md-first" data-aos="fade-up" data-aos-delay="1100">
              <h5 class="blog-item__title">Paparza</h5>
              <p class="blog-item__date"><i class="fas fa-calendar-alt"></i>
                October 25, 2019</p>
              <p class="blog-item__text">Nullam et justo tortor. Morbi quis urna enim. Vestibulum nec mattis diam.
                Ut tincidunt id odio efficitur ultrices...</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
