<section class="contacts" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="contacts__title">Contact Us</h2>
        <p class="contacts__descript">Send us an email using the form</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form action="#" method="post">
          <div class="form-group" data-aos="fade-up" data-aos-delay="300">
            <input type="text" class="form-control" id="name" placeholder="Your name">
            <label for="name"></label>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group" data-aos="fade-up-right" data-aos-duration="400" data-aos-delay="500">
              <input type="email" class="form-control" id="email" placeholder="Email">
              <label for="email"></label>
            </div>
            <div class="col-sm-6 form-group" data-aos="fade-up-left" data-aos-duration="400" data-aos-delay="650">
              <input type="tel" class="form-control" id="phone" placeholder="Phone">
              <label for="phone"></label>
            </div>
          </div>
          <div class="form-group" data-aos="fade-up" data-aos-delay="800">
            <textarea class="form-control" placeholder="Write your message here..." rows="7"></textarea>
          </div>
          <div class="buttons" data-aos="fade-up" data-aos-duration="400" data-aos-delay="1000">
            <button type="submit" class="btn">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>