<footer class="footer">
  <div class="container-fluid">
    <div class="footer__top row">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <h3 class="footer__title-one">ABOUT US</h3>
            <p class="footer__descript">Phasellus accumsan nibh odio, a tincidunt nunc condimentum non. Maecenas
              fringilla consectetur luctus. Nulla ut iaculis quam, pharetra porta libero. Phasellus et tristique orci,
              nec malesuada velit. V...</p>
          </div>
          <div class="col-sm-4 col-xl-2 dropdown">
            <h3 class="footer__title">Contacts</h3>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="footer__titles"><span>C</span>ontacts</span>

            </button>
            <ul class="ul">
              <li class="li"><a href="#">Phone</a></li>
              <li class="li"><a href="#">Email</a></li>
              <li class="li"><a href="#">Telegramm</a></li>
              <li class="li"><a href="#">Viber</a></li>
              <li class="li"><a href="#">Facebook</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xl-2 dropdown">
            <h3 class="footer__title">Categories</h3>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="footer__titles"><span>C</span>ategories</span>
            </button>
            <ul class="ul">
              <li class="li"><a href="#">Brochure</a></li>
              <li class="li"><a href="#">Graphics</a></li>
              <li class="li"><a href="#">Logo</a></li>
              <li class="li"><a href="#">Visiting card</a></li>
              <li class="li"><a href="#">Websites</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-xl-2 dropdown">
            <h3 class="footer__title">Menu</h3>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="footer__titles"><span>M</span>enu</span>
            </button>
            <ul class="ul">
              <li class="li"><a href="#">About us</a></li>
              <li class="li"><a href="#">Blog</a></li>
              <li class="li"><a href="#">Responsive</a></li>
              <li class="li"><a href="#">Services</a></li>
              <li class="li"><a href="#">Team</a></li>
              <li class="li"><a href="#">Shop</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <span>© Copyright 2023 Viktor Blaga</span>
    </div>
  </div>
  <a href="#" class="back2top" id="back2top">
    <i class="fas fa-arrow-up"></i>
  </a>
</footer>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery-3.6.4.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/jquery.nav.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>
