<section class="gallery" id="gallery">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="gallery-title">What we do with love</h2>
				<p class="gallery-descript">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
					cubilia Curae</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="gallery-item col-lg-3 col-md-4 col-sm-6" data-aos="zoom-in" data-aos-offset="100"
				data-aos-delay="200">
				<div class="gallery-item__box">
					<img class="gallery-item__img" src="assets/img/owl.jpg" alt="owl">
					<div class="gallery-item__caption">
						<h5 class="gallery-item__title">Lorem ipsum dolor sit</h5>
						<a href="#" class="gallery-item__link">
							<i class="fas fa-link"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="gallery-item col-lg-3 col-md-4 col-sm-6" data-aos="zoom-in" data-aos-offset="100"
				data-aos-delay="400">
				<div class="gallery-item__box">
					<img class="gallery-item__img" src="assets/img/child.jpg" alt="owl">
					<div class="gallery-item__caption">
						<h5 class="gallery-item__title">Lorem ipsum dolor sit</h5>
						<a href="#" class="gallery-item__link">
							<i class="fas fa-link"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="gallery-item col-lg-3 col-md-4 col-sm-6" data-aos="zoom-in" data-aos-offset="100"
				data-aos-delay="600">
				<div class="gallery-item__box">
					<img class="gallery-item__img" src="assets/img/coffee.jpg" alt="owl">
					<div class="gallery-item__caption">
						<h5 class="gallery-item__title">Lorem ipsum dolor sit</h5>
						<a href="#" class="gallery-item__link">
							<i class="fas fa-link"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="gallery-item col-lg-3 col-md-4 col-sm-6" data-aos="zoom-in" data-aos-offset="100"
				data-aos-delay="800">
				<div class="gallery-item__box">
					<img class="gallery-item__img" src="assets/img/cologne.jpg" alt="owl">
					<div class="gallery-item__caption">
						<h5 class="gallery-item__title">Lorem ipsum dolor sit</h5>
						<a href="#" class="gallery-item__link">
							<i class="fas fa-link"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="gallery-item col-lg-3 col-md-4 col-sm-6" data-aos="zoom-in" data-aos-offset="100"
				data-aos-delay="1000">
				<div class="gallery-item__box">
					<img class="gallery-item__img" src="assets/img/girl.jpg" alt="owl">
					<div class="gallery-item__caption">
						<h5 class="gallery-item__title">Lorem ipsum dolor sit</h5>
						<a href="#" class="gallery-item__link">
							<i class="fas fa-link"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="gallery-item col-lg-3 col-md-4 col-sm-6" data-aos="zoom-in" data-aos-offset="100"
				data-aos-delay="1200">
				<div class="gallery-item__box">
					<img class="gallery-item__img" src="assets/img/pexels.jpg" alt="owl">
					<div class="gallery-item__caption">
						<h5 class="gallery-item__title">Lorem ipsum dolor sit</h5>
						<a href="#" class="gallery-item__link">
							<i class="fas fa-link"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="gallery-item col-lg-3 col-md-4 col-sm-6" data-aos="zoom-in" data-aos-offset="100"
				data-aos-delay="1400">
				<div class="gallery-item__box">
					<img class="gallery-item__img" src="assets/img/skyline.jpg" alt="owl">
					<div class="gallery-item__caption">
						<h5 class="gallery-item__title">Lorem ipsum dolor sit</h5>
						<a href="#" class="gallery-item__link">
							<i class="fas fa-link"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="gallery-item col-lg-3 col-md-4 col-sm-6" data-aos="zoom-in" data-aos-offset="100"
				data-aos-delay="1600">
				<div class="gallery-item__box">
					<img class="gallery-item__img" src="assets/img/sunrise.jpg" alt="owl">
					<div class="gallery-item__caption">
						<h5 class="gallery-item__title">Lorem ipsum dolor sit</h5>
						<a href="#" class="gallery-item__link">
							<i class="fas fa-link"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
